#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

# set this !
MAKL_VERSION := 1.8.1

# absolute, used by configure when doing path substitutions
DD := /usr
MD := $(DD)/share/man

WD := $(shell pwd)
DD_BUILDROOT := $(WD)/debian/makl/usr

# local, used when building the package
BD_BUILDROOT := $(DD_BUILDROOT)/bin
MR_BUILDROOT := $(DD_BUILDROOT)/share/makl-$(MAKL_VERSION)
MD_BUILDROOT := $(DD_BUILDROOT)/share/man

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
config-stamp: $(QUILT_STAMPFN)
	dh_testdir
	# configure command
	/bin/sh configure.sh --prefix=$(DD) --dir-man=$(MD)
	@touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f config-stamp $(QUILT_STAMPFN)
	# nothing to clean
	dh_clean 

install: config-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install MAKL_ROOT=$(MR_BUILDROOT) BINDIR=$(BD_BUILDROOT) MANDIR=$(MD_BUILDROOT)

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
	dh_installman
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
# MaKL has no architecture dependent files.

binary: binary-indep
.PHONY: build clean binary-indep binary install 
